.red{
    width: 300px;
    height: 50px;
    display: block;
    background-color: red;
}
.green{
    width: 300px;
    height: 50px;
    display: block;
    background-color: green;
}

.blue{
    width: 300px;
    height: 50px;
    display: block;
    background-color: blue;
}
.red2{
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: red;
}
.green2{
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: green;
}
.blue2{
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: blue;
}
.yellow{
    width: 300px;
    height: 50px;
    display: block;
    background-color: yellow;
}
.gray{
    width: 150px;
    height: 50px;
    display: inline-block;
    background-color: gray;
}
.black{
    width: 150px;
    height: 50px;
    display: inline-block;
    background-color: black;
}
.lime{
   display: inline-block;
    background-color:limegreen;
}
.red3{
    margin: 20px;
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: red;
}
.green3{
    margin: 20px;
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: green;
}
.blue3{
    margin: 20px;
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: blue;
}